<%- include('./partials/head',{
    title: 'Login'
}) %> 

<body>
    <%- include('./partials/header') %> 
    <main class="main__productos">
        <!-- BARRA BUSQUEDA -->
        <%- include('./partials/busqueda') %> 
        <!-- TITULO -->
        <h1>Bienvenid@s</h1>
        <!-- LOGIN -->
        <section class="main__login__section">
            <article class="main__login__form">
                <img class="form__logo" src="/images/logo.png" alt="">
                <form action="" class="form_style" method="post">
                    <input  class="<%= locals.errors && errors.email ? "input_error" : null %>" type="text" name="email" placeholder="Nombre de usuario">
                    <small class="error_msg"><%= locals.errors && errors.email ? errors.email.msg : null %> </small>
                    <input  class="<%= locals.errors && errors.contrasena ? "input_error" : null %>" type="password" name="contrasena" placeholder="Contraseña">
                    <small class="error_msg"><%= locals.errors && errors.contrasena ? errors.contrasena.msg : null %> </small>
                    <label for="recordarme"><input type="checkbox" name="recordarme" id="recordarme">¿Recordar Contraseña?</label>
                    <button class="submit_btn" type="submit" onclick="confirmarLogin()">Iniciar Sesion</button>
                    <button class="submit_btn" type="submit">Registrarse</button>
                </form>

            </article> 
        </section>
    </main>
    <%- include('./partials/footer') %> 
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function confirmarLogin() {
            Swal.fire({
                position: 'top-end',
                icon: 'success',
                title: 'Registrado Correctamente',
                showConfirmButton: false,
                timer: 2500
            })
        }
    </script>

</body>

</html>