<%- include('./partials/head',{
    title: 'Productos'
}) %>

<body>
    <%- include('./partials/header') %>
    <main class="main__productos">
        <!-- BARRA BUSQUEDA -->
        <%- include('./partials/busqueda') %>
        <!-- CATEGORIAS PRODUCTOS // SERIA DESLIZABLE EN EL FUTURO-->
        <h3>CATEGORIAS</h3>
        <section class="home__main__categorias">
            <div class="main__productos__categ">
                <img src="/images/categorias/especias.jpg" alt="">
                <p>Especias </p>
                <a href="/productos">Ver más</a>
            </div>
            <div class="main__productos__categ">
                <img src="/images/categorias/frutos-secos.jpg" alt="">
                <p>Frutos secos</p>
                <a href="/productos">Ver más</a>
            </div>
            <div class="main__productos__categ">
                <img src="/images/categorias/harinas.jpg" alt="">
                <p>Harinas</p>
                <a href="/productos">Ver más</a>
            </div>
        </section>
        <!-- TITULO -->
        <h1><%= categ %></h1>
        <!-- PRODUCTOS -->
        <% if(locals.userLogin){ %>
        <% if (userLogin.rol === 'admi') { %>
        <section class="main__productos__section">
            <% subprod.forEach(producto => { %>
            <article class="main__productos__producto">
                <img src="/images/productos/<%= producto.imagenes[0].file  %> " alt="">
                <p><%= producto.name %> x <%= producto.amount %> gr </p>
                <h4>$ <%= producto.price %> </h4>
                <div class="btns">
                    <a class="btn-add" href="/productos/detalle/<%= producto.id %> ">Detalles de Producto</a>
                    <a class="btn-edit" href="/productos/edicionDeProductos/<%= producto.id %> "> <span>Editar producto
                        </span></a>
                </div>
            </article>
            <% }) %>
        </section>
        <% } %>
        <% if (userLogin.rol === 'user') { %>
        <section class="main__productos__section">
            <% subprod.forEach(producto => { %>
            <article class="main__productos__producto">
                <img src="/images/productos/<%= producto.imagenes[0].file %> " alt="">
                <p><%= producto.name %> x <%= producto.amount %> gr </p>
                <h4>$ <%= producto.price %> </h4>
                <div class="btns">
                    <a class="btn-add" href="/productos/detalle/<%= producto.id %> ">Detalles de Producto</a>
                </div>
            </article>
            <% }) %>
        </section>
        <% } %>
        <% } else { %>
        <section class="main__productos__section">
            <% subprod.forEach(producto => { %>
            <article class="main__productos__producto">
                <img src="/images/productos/<%= producto.imagenes[0].file %> " alt="">
                <p><%= producto.name %> x <%= producto.amount %> gr </p>
                <h4>$ <%= producto.price %> </h4>
                <div class="btns">
                    <a class="btn-add" href="/productos/detalle/<%= producto.id %> ">Detalles de Producto</a>
                </div>
            </article>
            <% }) %>
        </section>
        <% } %>
    </main>
    <%- include('./partials/footer') %>
</body>

</html>