<%- include('./partials/head',{
    title: 'Productos'
}) %>

<body>
    <%- include('./partials/header') %>
    <main class="main__productos">
        <!-- BARRA BUSQUEDA -->
        <%- include('./partials/busqueda') %>
        <!-- CATEGORIAS PRODUCTOS // SERIA DESLIZABLE EN EL FUTURO-->
        <h3>CATEGORIAS</h3>
        <section class="home__main__categorias">
            <div class="main__productos__categ">
                <img src="/images/categorias/especias.jpg" alt="">
                <p>Especias </p>
                <a href="/productos/productos/1">Ver más</a>
            </div>
            <div class="main__productos__categ">
                <img src="/images/categorias/frutos-secos.jpg" alt="">
                <p>Frutos secos</p>
                <a href="/productos/productos/2">Ver más</a>
            </div>
            <div class="main__productos__categ">
                <img src="/images/categorias/harinas.jpg" alt="">
                <p>Harinas</p>
                <a href="/productos/productos/3">Ver más</a>
            </div>
        </section>
        <!-- TITULO -->
        <h1><%= categ %></h1>
        <!-- PRODUCTOS  VISTA ADMI -->
        <% if(locals.userLogin){ %>
        <% if (userLogin.rol === 'admi') { %>
        <section class="main__productos__section">
            <% subprod.forEach(producto => { %>
            <article class="main__productos__producto">
                <img src="/images/productos/<%= producto.imagenes[0].file  %> " alt="">
                <p><%= producto.name %> x <%= producto.amount %> gr </p>
                <h4>$ <%= producto.price %> </h4>
                <div class="btns">
                    <a class="btn-add" href="/productos/detalle/<%= producto.id %> ">Detalles de Producto</a>
                    <a class="btn-edit" href="/productos/edicionDeProductos/<%= producto.id %> "> <span>Editar producto
                        </span></a>
                </div>
            </article>
            
            <% }) %>
        </section>
        <% } %>

        <!-- PRODUCTOS  VISTA USUARIO -->

        <% if (userLogin.rol === 'user') { %>
        <section class="main__productos__section">
            <% subprod.forEach(producto => { %>
<!--             <article class="main__productos__producto">
                <img class="rounded-t-lg" src="/images/productos/<%= producto.imagenes[0].file %> " alt="">
                <p><%= producto.name %> x <%= producto.amount %> gr </p>
                <h4>$ <%= producto.price %> </h4>
                <div class="btns">
                    <a class="btn-add" href="/productos/detalle/<%= producto.id %> ">Detalles de Producto</a>
                </div>
            </article>
 -->            
 
        <article class="new_card ">
            <div class="flex justify-center">
                <div class="rounded-lg shadow-lg bg-white max-w-sm">
                  <a href="#!">
                    <img class="rounded-t-lg" src="/images/productos/<%= producto.imagenes[0].file %> " alt="">
                  </a>
                  <div class="p-6">
                    <h5 class="text-gray-900 text-xl font-medium mb-2"><%= producto.name %> x <%= producto.amount %> gr </h5>
                    <p class="text-gray-700 text-base mb-4">
                        <%= producto.detail %>
                    </p>
                    <button type="button" class=" inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"><a class="" href="/productos/detalle/<%= producto.id %> ">Detalles de Producto</a></button>
                  </div>
                </div>
              </div>
        </article>



            <% }) %>
        </section>

        <% } %>

        <!-- PRODUCTOS  VISTA SIN LOGIN -->

        <% } else { %>
        <section class="main__productos__section">
            <% subprod.forEach(producto => { %>
            <article class="main__productos__producto">
                <img src="/images/productos/<%= producto.imagenes[0].file %> " alt="">
                <p><%= producto.name %> x <%= producto.amount %> gr </p>
                <h4>$ <%= producto.price %> </h4>
                <div class="btns">
                    <a class="btn-add" href="/productos/detalle/<%= producto.id %> ">Detalles de Producto</a>
                </div>
            </article>
            <% }) %>
        </section>
        <% } %>
    </main>
    <%- include('./partials/footer') %>

    <!-- //scrip de tailwind -->
    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>

</body>

</html>