<%- include('./partials/head',{
    title: 'Agregar'
}) %>

<body>
    <%- include('./partials/header') %>
    <main class="main__productos">
        <!-- BARRA BUSQUEDA -->

        <!-- TITULO -->
        <h1>Agregar Productos</h1>
        <!-- REGISTRO -->
        <section class="main__login__section">
            <article class="main__login__form">
                <img class="form__logo" src="/images/logo.png" alt="">
                <form action="/productos/productAdd" method="POST" enctype="multipart/form-data" class="form_style">
                    <h3>Datos del Producto</h3>
                    <input class="<%= locals.errors && errors.nombre ? "input_error" : null %> " type="text" name="nombre" id="name" placeholder="nombre de productor" value="<%= locals.old && old.nombre ? old.nombre : null %>" >
                    <small id="errorNombre" class="error_msg"><%= locals.errors && errors.nombre ? errors.nombre.msg : null %> </small>

                    <input class="<%= locals.errors && errors.marca ? "input_error" : null %> " type="text" name="marca" id="brand-product" placeholder="Ingrese Marca de producto" >
                    <small class="error_msg"><%= locals.errors && errors.marca ? errors.marca.msg : null %> </small>

                    <input class="<%= locals.errors && errors.precio ? "input_error" : null %> "type="number" name="precio" id="price" placeholder="Precio del Producto">
                    <small class="error_msg"><%= locals.errors && errors.precio ? errors.precio.msg : null %> </small>

                    <input class="<%= locals.errors && errors.cantidad ? "input_error" : null %> "type="text" name="cantidad" id="" placeholder="Cantidad">
                    <small class="error_msg"><%= locals.errors && errors.cantidad ? errors.cantidad.msg : null %> </small>

                    <select class="<%= locals.errors && errors.categoria ? "input_error" : null %> " name="categoria" id="" class="form_style">
                        <option value="" selected hidden>Seleccionar categoria...</option>
                        <option value="especias">Especias</option>
                        <option value="frutos-secos">Frutos secos</option>
                        <option value="harinas">Harinas</option>
                        <option value="infusiones">Infusiones</option>
                        <option value="semillas">Semillas</option>
                        <option value="snacks">Snacks</option>
                    </select>
                    <small class="error_msg"><%= locals.errors && errors.categoria ? errors.categoria.msg : null %> </small>

                    <h4>Seleccione imagen del producto</h4>
                    <input class="<%= locals.errors && errors.imagen ? "input_error" : null %> " type="file" name="imagen" accept="image/png, .jpeg, .jpg, image/gif, .webp">
                    <small class="error_msg"><%= locals.errors && errors.imagen ? errors.imagen.msg : null %> </small>
                    <textarea id="detalle" class="<%= locals.errors && errors.detalle ? "input_error" : null %> " name="detalle" rows="10" cols="40" placeholder="Ingrese breve descripción del producto"></textarea>
                    <small id="detalleError" class="error_msg"><%= locals.errors && errors.detalle ? errors.detalle.msg : null %> </small>

                    <button class="submit_btn" type="submit" onclick="confirmar()">Agregar Producto</button>
                </form>
            </article>
        </section>
    </main>
    <%- include('./partials/footer') %>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/productValidation.js"></script>
</body>

</html>