<div class="home__header__carrito">
    <label for="cart"><i class="fa-solid fa-cart-arrow-down home__header__cart--i"></i></label>
    <input type="checkbox" name="" id="cart" />
    <div class="home__header__cart">
        <label for="cart"><i class="fa-solid fa-xmark home__header__cart--ix"></i></label>
        <hr class="cart__hr" />
        <p>Mi Carrito</p>
        <!-- CADA ARTICLE ES UN PRODUCTO SELECCIONADO EN CARRITO -->
        <div class="cart-container">
            <% carrito.forEach(car => { %>
            <article class="home__header__cart--prod">
                <img src="/images/productos/<%= productos[car.id_producto - 1].imagen %>" alt="" />
                <div class="cart-desc">
                    <div class="cart-nom">
                        <h5>
                            <%= productos[car.id_producto - 1].nombre %> x <%=
                                     productos[car.id_producto-1].cantidad%>gr
                        </h5>
                        <form action="/productos/deleteCarrito/<%= car.id_producto %>?_method=DELETE" method="POST">
                            <button type="submit">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                        </form>
                    </div>
                    <div class="cart-cant">
                        <div class="cart-cant-controles">
                            <i class="fa-solid fa-minus"></i>
                            <input type="number" name="" id="" value="<%= car.cantidad_p %>" />
                            <i class="fa-solid fa-plus"></i>
                        </div>
                        <h5>$ <%= productos[car.id_producto - 1].precio %></h5>
                    </div>
                </div>
            </article>
            <% }) %>
        </div>
        <div class="cart-total">
            <p>total:</p>
            <p>3300</p>

        </div>
        <a href="/productos/carrito">Comprar</a>
    </div>
</div>